<form method="get" action="/stores/discount">

<h1>Store Name</h1>

<div>
  <h4>Discounts:</h4>
  <ol>
    <% @company.discounts.each do |discount| %>
    <li><strong>User:</strong>  <%= discount.user.username %> 
    <li><strong>Company:</strong>  <%= discount.company.company_name %>
    <strong>Discount:</strong> <%= discount.discount_percent %>%</li>
        <ul>
          <% if discount.restrictions.count >= 1 %>
            <% discount.restrictions.each do |restriction| %>
            <li><%= restriction.description %></li>
            <% end %>
          <% end %>
  </ol>
</div>










<!--     <% @company.discounts.each do |discount| %>
    <li><strong>Company:</strong>  <%= discount.company.company_name %> <strong>Discount:</strong> <%= discount.discount_percent %>%</li>
        <ul>
          <% if discount.restrictions.count >= 1 %>
            <% discount.restrictions.each do |restriction| %>
            <li><%= restriction.description %></li>
            <% end %>
          <% end %>
            <li><a href="no_link_yet">**Add JS to Add More Restrictions!**</a></li>
        </ul>
    <% end %>
    <li><a href="no_link_yet">**Add JS to Add More Discounts!**</a></li>
  </ol>
</div> -->