<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card black">
        <div class="card-content white-text">
          <span class="card-title"><%= @company.company_name.capitalize %></span>
          <table>
            <thead>
              <tr>
                <th data-field="User">User:</th>
                <th data-field="Company">Company:</th>
                <th data-field="Discount">Discount:</th>
                <th data-field="Restrictions">Restrictions:</th>
                <th data-field="Contact">Contact:</th>
              </tr>
            </thead>

            <tbody>
              <% @company.discounts.with_user.each do |discount| %>
              <tr>
                <td><%= discount.user.username %></td>
                <td><%= discount.company.company_name %></td>
                <td><%= discount.discount_percent %></td>
                <td><% if discount.restrictions.count >= 1 %>
                  <ul><% discount.restrictions.each do |restriction| %>
                    <li><%= restriction.description %></li>
                  <% end %>
                  </ul>
                <% end %>
                </td>
                <td>
                    <% email = discount.user.email %>
                    <% m1 = URI::MailTo.build(["#{email}", "subject=BudgieRequest"]) %>
                    <a href="<%=m1%>"><img src="/img/email.svg"></a>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <a class="waves-effect waves-light btn-large go-back" href="/user/profile">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
